<link rel="stylesheet" href="app.component.css" type="text/css">

<header>
    <nav>

    <ol>
      <li><a routerLink="/" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Student&nbsp;List</a></li>
      <li><a routerLink="/employeelist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"> Employee&nbsp;List</a></li>
        <li><a routerLink="/fruitlist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Fruit&nbsp;List </a></li>
        <li><a routerLink="/courselist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Course&nbsp;List </a></li>
        <li><a routerLink="/booklist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Book&nbsp;List </a></li>
        <li><a routerLink="/citylist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">City&nbsp;List </a></li>
        <li><a routerLink="/movielist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Movie&nbsp;List </a></li>
        <li><a routerLink="/carmodellist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">CarModel&nbsp;List </a></li>
        <li><a routerLink="/productlist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Product&nbsp;List </a></li>
        <li><a routerLink="/subjectlist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Subject&nbsp;List </a></li>  <br> 
        <li><a routerLink="/countrylist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Country&nbsp;List </a></li>
        <li><a routerLink="/sportslist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Sports&nbsp;List </a></li>
        <li><a routerLink="/vegetablelist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Vegetable&nbsp;List </a></li>
        <li><a routerLink="/animallist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Animal&nbsp;List </a></li>
        <li><a routerLink="/toollist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Tool&nbsp;List </a></li>
        <li><a routerLink="/languagelist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Language&nbsp;List </a></li>
        <li><a routerLink="/gamelist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Game&nbsp;List </a></li>
        <li><a routerLink="/softwarelist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Software&nbsp;List </a></li>
        <li><a routerLink="/phonecontactlist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">PhoneContact&nbsp;List </a></li>
        <li><a routerLink="/musicplaylist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">MusicPlay&nbsp;List </a></li>
        <li><a routerLink="foodmenulist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">FoodMenu&nbsp;List </a></li>
        <li><a routerLink="/grocerylist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Grocery&nbsp;List </a></li>
        <li><a routerLink="/classroomlist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Classroom&nbsp;List </a></li>
        <li><a routerLink="/inventorylist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Inventory&nbsp;List </a></li>
        <li><a routerLink="/lecturelist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Lecture&nbsp;List </a></li>
        <li><a routerLink="/stationerylist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Stationery&nbsp;List </a></li>
        <li><a routerLink="/flowerlist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Flower&nbsp;List </a></li>
        <li><a routerLink="/destinationlist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Destination&nbsp;List </a></li>
        <li><a routerLink="/laptoplist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Laptop&nbsp;List </a></li>
        <li><a routerLink="/laptopspecslist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Laptop&nbsp;Specs&nbsp;List </a></li>
        <li><a routerLink="/computerhardwarelist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Computer&nbsp;Hardware&nbsp;List </a></li>
        <li><a routerLink="/mobileapplist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">MobileApp&nbsp;List </a></li>
        <li><a routerLink="/videolist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Video&nbsp;List </a></li>
        <li><a routerLink="/tvshowlist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">TVShow&nbsp;List </a></li>
        <li><a routerLink="/furniturelist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Furniture&nbsp;List </a></li>
        <li><a routerLink="/accessorylist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Accessory&nbsp;List </a></li>
        <li><a routerLink="/buildinglist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Building&nbsp;List </a></li>
        <li><a routerLink="/paintinglist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Painting&nbsp;List </a></li>
        <li><a routerLink="/artistlist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Artist&nbsp;List </a></li>
        <li><a routerLink="/composerlist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Composer&nbsp;List </a></li>
        <li><a routerLink="/podcastlist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Podcast&nbsp;List </a></li>
        <li><a routerLink="/exerciselist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Exercise&nbsp;List </a></li>
        <li><a routerLink="/mealplanlist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">MealPlan&nbsp;List </a></li>
        <li><a routerLink="/budgetlist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Budget&nbsp;List </a></li>
        <li><a routerLink="/presentationlist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Presentation&nbsp;List </a></li>
        <li><a routerLink="/tourlist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Tour&nbsp;List </a></li>
        <li><a routerLink="/eventlist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Event&nbsp;List </a></li>
        <li><a routerLink="/developertoolslist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">DeveloperTools&nbsp;List </a></li>
        <li><a routerLink="/frameworklist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Framework&nbsp;List </a></li>
        <li><a routerLink="/librarylist" class="route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Library&nbsp;List </a></li>
        
    </ol>

    
</nav>
</header>
<router-outlet> </router-outlet>